body {
  margin: 0;
  min-height: 50rem;
  /* background-color: #242124; */
  background-color: #1a1110;
  /* background: url("https://wallpapercave.com/wp/wp9448836.jpg") no-repeat; */
  /* height: fit-content; */
  /* background-size: cover; */
  /* background-position: center; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
